@page
@model IndexModel
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/carousel.css" rel="stylesheet" />
    <!--Font sheet-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Manjari' rel='stylesheet' />
  </head>
  <body>
    <div id="app">
        <div v-show="ui.showCarousel">
            <main role="main">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarouse1" data-slide-to="1"></li>
                        <li data-target="#myCarouse1" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="first-slide" src="~/img/red_cinema.jfif" alt="Red Cinema" />
                            <div class="container">
                                <div class="carousel-caption text-xl-center align-text-top">
                                    <h1>Book My Show</h1>
                                    <h6 class="font-weight-bolder text-xl-center">Find Shows Of Your Favorite Movies Near You</h6>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="second-slide" src="~/img/pop_coke_hori.jpg" alt="Second slide" />
                            <div class="container">
                                <div class="carousel-caption">
                                    <h2>Local. Authentic. Easy.</h2>
                                    <p class="font-weight-bolder">Find cinemas in your desired location. We enlist local and most popular cinemas to help you choose from the best.</p>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="third-slide" src="~/img/people.jpg" alt="Third slide" />
                            <div class="container">
                                <div class="carousel-caption text-left">
                                    <h2>We are here to HELP.</h2>
                                    <p class="text-light font-weight-bolder">Given the COVID-19 outbreak we urge you to stay tuned for the updated guidelines </p><p class="text-light font-weight-bolder">to make informed decisions regarding your travel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="https://www.cinemasafe.org/" target="_blank" role="button">See Guidelines</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </main>
        </div>

        <form>
            <div class="form-group form-floating">
                <label for="search_movie"></label>
                <input type="text" class="form-control" id="search_movie" ref="search_movie" v-on:keyup="dynamicSearch" placeholder="Search your favourite movies..." />
            </div>
        </form>

        <div class="movie_list">
            <div v-for="movie in movies">
                <div class="movie-container" :id="'movie-' + movie.movieId" v-on:click="ui.showCinema=true;ui.showShow=false">

                    <img class="movie-image" alt="Movie Image" v-bind:src="movie.image" v-on:click="getCinemas" />

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" v-show="ui.showCinema">
                <h6 class="display-4">Cinemas</h6>
                <div class="cinema_list">
                    <div v-for="cinema in cinemas">

                        <div class="form-check" :id="'cinema-' + cinema.cinemaId" v-on:click="ui.showShow=true">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" :id="'radio-'+ cinema.cinemaId" :value="cinema.latitude+ ','+cinema.longitude" v-on:click="getradio" />
                            <label class="form-check-label" :for="'radio-'+ cinema.cinemaId">
                                {{cinema.cinemaName}}
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col align-content-center" v-show="ui.showShow">
                <h6 class="display-4 ">Shows</h6>
                <div class="d-flex flex-row bd-highlight mt-4">
                    <div v-for="show in shows">
                        <div class="text-center d-flex justify-content-center">
                            <ol class="list-group list-group-numbered text-center d-flex justify-content-center">
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold p-2">{{show.showDate.split("T")[0] + " " + show.showDate.split("T")[1].substring(0,5) }}</div>
                                        <button data-toggle="modal" data-target="#myModal" type="button" :class=" {'btn':true,'btn-danger': show.seatsAvailable<=10, 'btn-warning' : (show.seatsAvailable>10 && show.seatsAvailable<=20) , 'btn-success': show.seatsAvailable>20} " :id="'show-'+ show.showId" v-on:click="ui.showBookingForm=true;currentShow=show.showId">{{show.seatsAvailable + " seats left"}}</button>
                                    </div>

                                </li>
                            </ol>
                        </div>


                    </div>
                </div>


                <div v-show="ui.showBookingForm">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title">Book Your Show</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="username">User Name</label>
                                            <input type="text" class="form-control" id="username" ref="username" placeholder="User Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" ref="useremail" aria-describedby="emailHelp" placeholder="Enter email" />
                                            <small id="emailHelp" class="form-text text-muted">Enter you email</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" id="phone" ref="phone" placeholder="Phone" />
                                        </div>


                                    </form>
                                    <form action="/api/bookings/charge" method="post" v-on:click="stripeSubmit">
                                        <script src="//checkout.stripe.com/v2/checkout.js"
                                                class="stripe-button"
                                                data-key="@Stripe.Value.PublishableKey"
                                                data-description="this is the cost of movie ticket"
                                                data-amount="1000">
                                        </script>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>


        <div v-show="ui.showCinema">

            <div id="map" style="height:400px;width:100%"></div>

        </div>


    </div>

    <div class="stripecheckout">
        <label>amount: 500$</label>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-description="Make Payment"
                data-amount="1000">
        </script>
    </div>

  </body>
</html>
@section scripts
{


    <script>




        var app = new Vue({
            el: "#app",
            data: {
                // PLACE DATA PROPERTIES HERE
                message: "Hello World!",
                movies: [],
                cinemas: [],
                shows: [],
                currentShow: null,
                currentLocation: {
                    latitude: "",
                    longitude: ""

                },
                ui: {
                    showCinema: false,
                    showShow: false,
                    showCinemaShow: false,
                    showBookingForm: false,
                    showStripe: false,
                    showCarousel: true
                }
            },
            mounted: function () {
                // PERFORM ANY ACTIONS WHEN THE PAGE LOADS HERE - SIMILAR TO JQUERY DOCUMENT.READY


                //dynamic search
                let self = this;
                navigator.geolocation.getCurrentPosition(function (location) {
                    self.currentLocation.latitude = location.coords.latitude
                    self.currentLocation.longitude = location.coords.longitude;

                })

                let externalScript = document.createElement('script')
                externalScript.setAttribute('src', 'https://checkout.stripe.com/v2/checkout.js')
                $(".stripecheckout").hide();

            },
            methods: {


                initMap: function initMap(cinemas, zoomIn = false) {

                    let self = this;
                    console.log("this is inside initmap");
                    navigator.geolocation.getCurrentPosition(function (location) {
                        self.currentLocation.latitude = location.coords.latitude
                        self.currentLocation.longitude = location.coords.longitude;

                        let home = { lat: self.currentLocation.latitude, lng: self.currentLocation.longitude };
                        if (zoomIn) {
                            home = { lat: parseFloat(cinemas[0]), lng: parseFloat(cinemas[1]) };
                        }

                        const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: zoomIn ? 18 : 7,
                            center: home,
                        });

                        if (!zoomIn) {
                            cinemas.forEach(cinema => {
                                let cinemaCoordinates = { lat: parseFloat(cinema.latitude), lng: parseFloat(cinema.longitude) };
                                const marker = new google.maps.Marker({
                                    position: cinemaCoordinates,
                                    map: map,
                                });

                            })

                        } else {
                            let cinemaCoordinates = { lat: parseFloat(cinemas[0]), lng: parseFloat(cinemas[1]) };
                            const marker = new google.maps.Marker({
                                position: cinemaCoordinates,
                                map: map,
                            });

                        }

                    })

                },
                // ADD ANY METHODS (CLICK, SUBMIT EVENTS, ETC.)

                dynamicSearch: function () {

                    let self = this;

                    console.log(self.$refs.search_movie.value)

                    let search = self.$refs.search_movie.value;

                    self.movies = [];
                    self.ui.showCinema = false;
                    self.ui.showShow = false;
                    self.ui.showCarousel = false;

                    search && $.ajax({
                        url: "/api/movies/?search=" + search,
                        dataType: "json",
                        contentType: "application/json",
                        method: "GET",

                    }).done(function (movies) {
                        console.log(movies);
                        self.movies = movies;

                    }).fail(function (err) {

                        console.log(err);


                    })


                },

                getCinemas: function (e) {

                    let self = this;
                    self.cinemas = [];
                    console.log("hey getcinemas");
                    let movieId = e.target.parentNode.getAttribute("id");

                    movieId && $.ajax({
                        url: "/api/cinemas/?search=" + movieId.split("-")[1],
                        dataType: "json",
                        contentType: "application/json",
                        method: "GET",

                    }).done(function (cinemas) {
                        console.log(cinemas);
                        self.cinemas = cinemas;
                        console.log(self.cinemas);
                        self.initMap(cinemas);



                    }).fail(function (err) {

                        console.log(err);


                    })





                },

                bookShow: function (e) {

                    let self = this;
                    let showId = self.currentShow;
                    console.log(showId);
                    let newBooking = {

                        bookingDate: new Date(),
                        showId: parseInt(showId),
                        userName: self.$refs.username.value,
                        userEmail: self.$refs.useremail.value,
                        userPhone: self.$refs.phone.value

                    };

                    $.ajax({
                        url: "/api/bookings",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify(newBooking),
                        method: "POST"

                    }).done(function (booking) {
                        console.log(booking);

                    }).fail(function (error) {
                        alert(`error while creating a booking: ${JSON.stringify(error.responseJSON.errors)}`);
                        console.log(error);

                    })


                },

                getradio: function (e) {

                    let self = this;
                    let cinemaCoords = e.target.getAttribute("value");
                    self.initMap(cinemaCoords.split(","), true);

                    self.shows = [];
                    console.log("hey getshows");
                    let cinemaId = e.target.parentNode.getAttribute("id");
                    console.log(cinemaId);

                    cinemaId && $.ajax({
                        url: "/api/shows/?search=" + cinemaId.split("-")[1],
                        dataType: "json",
                        contentType: "application/json",
                        method: "GET",

                    }).done(function (shows) {
                        console.log(shows);
                        self.shows = shows;
                        console.log(self.shows);

                    }).fail(function (err) {

                        console.log(err);


                    })

                },

                stripeSubmit: function (e) {

                    let self = this;

                    e.preventDefault();

                    $(".stripecheckout").find(".stripe-button-el").click();
                    $(".modal-backdrop").remove();
                    self.bookShow();

                    let currentShow = self.currentShow;
                    let updatedShow = null;
                    self.ui.showBookingForm = false;
                    self.shows.forEach(show => {

                        if (show.showId == currentShow) {
                            show.seatsAvailable -= 1;
                            updatedShow = show;
                        }

                    })

                    currentShow && $.ajax({
                        url: `/api/shows/${currentShow}`,
                        dataType: "json",
                        data: JSON.stringify(updatedShow),
                        contentType: "application/json",
                        method: "PUT",

                    }).done(function (res) {
                        console.log(res);

                    }).fail(function (err) {

                        console.log(err);


                    })

                },
                getDate: function (date) {
                    var ms = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    return date.getDate() + ' ' + ms[date.getMonth()] + ' ' + date.getFullYear();
                }


            },
            computed: {
                // CREATE ANY CALCULATED PROPERTIES HERE. THEY BEHAVE LIKE READ-ONLY DATA
            }
        });












































                            //$(document).ready(function () {


                            //    console.log("hey");
                            //    $.ajax({



                            //        url: "https://api-gate2.movieglu.com/filmsNowShowing/?n=10",
                            //        dataType: "json",
                            //        contentType: "application/json",
                            //        method: "GET",
                            //        timeout: 0,
                            //       // headers: {
                            //       //     api-version: "v200",
                            //       //     Authorization: "Basic A1B2c3D4E5f6H7I8j911M12=",
                            //       //     client: "ABCD",
                            //       //     x-api-key: "IyrBUDT7CuTTc6LH45mI5aAoG8",
                            //       //     device-datetime: "2020-06-18T12:07:57.296Z",
                            //       //     territory: "XX"
                            //       //}
                            //        headers: {

                            //            "api-version": "v200",
                            //            "authorization": "Basic R1JBRF8wX1hYOkF2MHlRMGJQeENYZg==",
                            //            "x-api-key": "tiq22LUYkK7aV7NM6UEzP1hSPHabGhyS35koirsQ",
                            //            "territory": "XX",
                            //            "api-version": "v200",
                            //            "device-datetime": "2021-08-02T00:02:15.017Z",
                            //            "client": "GRAD_0",
                            //            "geolocation": "39.142089359523084, -84.51447294615582"





                            //        }


                            //    }).done(function (res) {
                            //        console.log(res);


                            //    }).fail(function (res) {

                            //        console.log(res);



                            //    })


                            //})


    </script>




}
</html>